---
import "../styles/global.css";
import PageWrapper from "../components/PageWrapper";

const GITHUB_TOKEN = import.meta.env.GITHUB_TOKEN;
const username = Astro.params.username ?? "trueberryless";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body class="bg-gray-950">
		<main>
      <PageWrapper client:load githubToken={GITHUB_TOKEN} username={username} />
		</main>
	</body>
</html>
